.manage {
  padding: 180px 0 120px 0;
}
.manage__info {
  border-radius: 0px 0px 20px 20px;
  background: #F8F8F8;
  padding: 80px 45px 30px 35px;
}
.manage__main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(132, 158, 147, 0.50);
  &-img {
    width: 322px;
    height: 399px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &-abs {
    position: absolute;
    bottom: 10px;
    right: 10px;
    svg path {
      transition: all 0.5s ease;
    }
  }
}
.control {
  padding-top: 80px;
  &__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 28px */
    text-align: center;
    margin-bottom: 65px;
  }
}
.control__items {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 40px);
  margin: 0 0 0 -20px;
}
.control__item {
  width: calc(33.3% - 40px);
  margin: 0 20px 54px 20px;
  &-last {
    text-transform: uppercase;
    color: rgba(31, 37, 54, 0.80);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 22px */
  }
  &-name {
    color: rgba(31, 37, 54, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
    margin: 10px 0 20px 0;
  }
  &-text {
    color: rgba(31, 37, 54, 0.50);
    font-weight: 400;
    line-height: 130%; /* 20.8px */
  }
}

@media only screen and (max-width: 1170px) {
  .manage__info {
    padding: 40px 30px 40px 30px;
  }
  .manage__main {
    display: block;
  }
  .manage__main-img {
    width: 260px;
    height: 300px;
    float: left;
    margin-right: 20px;
    img {
      border-radius: 5px;
    }
  }
  .wp-redactor-manage {
    width: 100%;
    margin-left: 0;
  }
  .wp-redactor-manage {
    h1, h2, h3, h4, h5, h6 {
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 32px */
      margin-bottom: 20px;
    }
  }
  .manage__main {
    padding-bottom: 40px;
  }
  .control {
    padding-top: 40px;
  }
  .control__item {
    width: calc(50% - 40px);
  }
  .manage {
    padding: 140px 0 80px 0;
  }
}
@media only screen and (max-width: 765px) {
  .manage {
    padding: 110px 0 60px 0;
  }
  .manage__info {
    padding: 20px;
  }
  .manage__main-img {
    float: none;
    width: 100%;
    margin: 0 0 25px 0;
  }
  .control__title {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .control__items {
    width: 100%;
    margin: 0;
  }
  .control__item {
    width: 100%;
    margin: 0 0 25px 0;
  }
}